body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

.section {
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  border: 2px solid #333;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}

textarea {
  width: 90%;
  height: 300px;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  resize: vertical;
  background: #fff8ef;
}


button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #34495e;
}
